$greenText: #219221;
$darkGreen: #277227;
$lightGreen: #93d493;
$darkGreyText: #4e4e4e;
$formStars: red;
$buttonText: white;

$whatisBackground: #528fff;
$descriptionText: $darkGreyText;
$dirt: #b38344;